@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 768px) {
  *,
  button {
    cursor: none;
  }
}

body {
  min-height: 100vh;
}

@layer utilities {
  .mono {
    font-variation-settings: "MONO" 1;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
