@tailwind base;
/* Add default styles that precede tailwind https://tailwindcss.com/docs/adding-custom-styles#using-css-and-layer */
@layer components {
    body {
        overflow: hidden;
        z-index: -20;
    }

    *,
    button {
        cursor: none !important;
    }
}
@tailwind components;
@tailwind utilities;

@layer utilities {
    .mono {
        font-variation-settings: 'MONO' 1;
    }

    .hide-scrollbar::-webkit-scrollbar {
        display: none;
    }
}
