@tailwind base;
@tailwind components;
@tailwind utilities;

*,
button {
  cursor: none;
}

html {
  background-color: rgb(217, 217, 217);
}

body {
  min-height: 100vh;
  /* max-width: 1680px; */
}

@layer utilities {
  .mono {
    font-variation-settings: "MONO" 1;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
