@tailwind base;
@tailwind components;
@tailwind utilities;

*,
button {
  cursor: none;
}

html {
  background-color: #1a1a1a;
}

body {
  min-height: 100vh;
}

@layer utilities {
  .mono {
    font-variation-settings: "MONO" 1;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
